{% extends "baseContent.html" %}
{% import "_macros.html" as macros %}

{% block title %}About Us{% endblock %}
{% block page_content %}
<div class="container">
	<div class="row" >
		<div class="col-xs-1"></div>
		<div class="col-xs-7" style='background-color:yellow;font-size:16px;'>
  <p>先行教育有限公司由埃里克•罗森伯格先生成立于1998年，它的服务宗旨是为来自美国和世界各国的学生提供私立高中，大学的申请和运动员招聘服务。罗森伯格先生认为，所有的学生都有特殊的长处，先行教育将侧重于将学生放在最佳的教育环境中，培养每个学生都能充分发挥他/她的全部潜力</p>。
      <p>埃里克•罗森伯格先生先后毕业于圣马可中学，哈佛大学和波士顿大学教育研究生院，曾执教于康涅狄格州的埃文老农场学校，新罕布什尔州的圣保罗中学。他的三个孩子先后毕业于圣马可中学，迪尔菲尔德学院，康奈尔大学，科罗拉多学院和哈佛大学。罗森伯格先生活跃于许多高中，大学和社区的理事会。</p>
      <p>埃里克•罗森伯格在过去的三十年里一直从事于青少年教育咨询工作。他每年访问许多学校和学院，对美国和国际教育环境，申请趋势的变化了如指掌，并且与很多高中，大学教育机构保持紧密友好的个人关系。</p>
</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-3" style="background-color:pink;">
		Social Media Information and last blog posts go here
	</div>
</div> <!-- end row -->
<br><br>
<div class="row">
	<div style="background-color:gold;height:"30px">
		Footer contact information will go here
	</div>
</div>
</div>

{% endblock %}


