{% extends "baseContent.html" %}
{% import "_macros.html" as macros %}

{% block title %}Boarding School Placement{% endblock %}
{% block page_content %}
<div class="container">
	<div class="row" >
		<div class="col-xs-1"></div>
		<div class="col-xs-7" style='background-color:lime;font-size:16px;'>

<h2>

私隐政策<h2>

 <p><strong>EDU-FST</strong>与数百个客户遍及几乎所有美国成功院校，我们带来的全球业务解决方案对于增长您的业务，扩大市场范围，并降低您的运营成本。
 <strong>EDU-FST</strong> 的团队熟练的语言学家、 咨询、 工程师和项目经理的项目有处理通过众多的留学项目，不断获得这许许多多的国际公司的跨行业经验。
 安全</p>

<strong>EDU-FST</strong> 留学服务致力于所有其他防止未经授权的访问的客户端信息在下面的步骤：
<ul>
    <li>限制访问的客户端信息的内部程序。<strong>EDU-FST</strong></li> 
    <li>可以只是在一个特定的任务函数所需的访问信息。</li>
    <li><strong>EDU-FST</strong> 防止未经授权使用的客户端信息，并强制实施高度安全程序在存储和披露的信息，以防止未经授权的访问。</li>
    <li>如果您提供的建议或反馈，我们不能履行任何未经您的联系信息的请求。</li>
    <li>我们已培训员工定期关于客户端信息安全和隐私的做法。</li>
</ul>
<i>私隐政策</i>

信息收集和使用
<ul>
    <li>当您浏览我们的网站时，我们不会收集、 捕获或保留您的个人信息。</li>
    <li>如果您提供的建议或反馈，我们不能履行任何未经您的联系信息的请求。</li>
    <li>如果你想 <strong>EDU-FST</strong> 要就其服务与您联系，您必须提供您的联系信息</li>。
    <li>个人身份信息不是透露给任何第三方未经您的许可。您的电子邮件地址永远不会出售或者出租给任何人。</li>
</ul>
<p>
如果您有任何疑问或担心此隐私策略，请电邮给我们在 admin@edu-fst.com。我们欢迎您的意见对我们的隐私政策。
</p>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-3" style="background-color:silver;">
		Social Media Information and last blog posts go here
	</div>
</div> <!-- end row -->
<br><br>
<div class="row">
	<div style="background-color:beige;height:"30px">
		Footer contact information will go here
	</div>
</div>
</div>

{% endblock %}


