{% extends "baseContent.html" %}
{% import "_macros.html" as macros %}

{% block title %}About Us{% endblock %}
{% block page_content %}
<div class="container">
	<div class="row" >
		<div class="col-xs-1"></div>
		<div class="col-xs-7" style='background-color:lime;font-size:16px;'>

<p>
EducationFirst! was founded by Eric Rosenberger to provide boarding school, college placement and athletic recruiting services for families from throughout the United States and from many foreign countries. Mr. Rosenberger believes that all students have special talents, and focuses on placing students in educational environments that will nurture each student to reach his/her full potential.
</p>

<p>A graduate of St. Mark's School, Harvard University, and the Boston College Graduate School of Education, Eric Rosenberger has served on the faculty at Avon Old Farms School in Avon, Connecticut, and at St. Paul's School in Concord, New Hampshire. He is married and has three children who have attended Deerfield Academy, St. Mark's School, Cornell University, Colorado College and Harvard University. He is active on many school, college and community committees and boards.</p>

<p>Eric Rosenberger has spent the past thirty years working with young people. He specializes in counseling students during the admissions process to boarding schools and colleges, and advising students during the college athletic recruiting process. He visits many schools and colleges each year, keeps current on changes, and maintains personal relationships at these institutions. </p>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-3" style="background-color:silver;">
		Social Media Information and last blog posts go here
	</div>
</div> <!-- end row -->
<br><br>
<div class="row">
	<div style="background-color:beige;height:"30px">
		Footer contact information will go here
	</div>
</div>
</div>

{% endblock %}


