{% extends "baseContent.html" %}
{% import "_macros.html" as macros %}

{% block title %}Boarding School Placement{% endblock %}
{% block page_content %}
<div class="container">
	<div class="row" >
		<div class="col-xs-1"></div>
		<div class="col-xs-7" style='background-color:lime;font-size:16px;'>

<p>As each year passes, the competition for admission to independent boarding schools becomes more and more intense. Schools are more aggressive in searching for talented applicants, parents are searching for safer and more challenging environments for their adolescent children, and students are asking to leave home earlier to seek out new challenges and new personal relationships. In addition, as parents provide more and more educational support for their children, the number of talented and highly qualified applicants is increasing, while the cost of independent secondary education is also increasing.</p>

<p>Boarding schools are much more selective than they were even five years ago. Admissions officers are placing more emphasis on SSAT scores, a balanced selection of courses, academic achievement, outstanding special skills, individual accomplishments, sound values and a strong character. Schools are searching for applicants who are self-reliant, have a secure sense of themselves, a passion for fulfilling personal goals and the values to be successful in a diverse school community. Schools are looking for students with the ability to make an impact on their new school.
</p>
<p>The school admissions process is a time when parents and students experience most of life's emotions. It is an opportunity for self-assessment, dreaming and exploration, planning, goal setting, perseverance, family dialogue and thoughtful decision making. It is not surprising that many parents and students find the boarding school admissions process to be complex, confusing and exhausting.</p>

<p>EducationFirst! Helps parents and students make the school search process enjoyable, fulfilling and successful. We help parents and students make informed and realistic decisions. We open the door to educational opportunities. We help students meet their goals.</p>
	</div>
	<div class="col-xs-1"></div>
	<div class="col-xs-3" style="background-color:silver;">
		Social Media Information and last blog posts go here
	</div>
</div> <!-- end row -->
<br><br>
<div class="row">
	<div style="background-color:beige;height:"30px">
		Footer contact information will go here
	</div>
</div>
</div>

{% endblock %}


