 <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="index.html">Admission Advisors</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="AboutUs.html">Company</a></li>
          <li><a href="AboutUs.html">Our Values</a></li>
          <li><a href="AboutUs.html">People</a></li>
          <li><a href="AboutUs.html">Eric Rosenberger</a></li>
          <li><a href="AboutUs.html">The EdFirst Advantage</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="BoardingSchools.html">Parent's Information Letter</a></li>
                  <li><a href="OurApproach.html">Our Approach</a></li>
                  <li><a href="TodaysAdmissionEnvironment.html">Today's Admission Environment</a></li>
                  <li><a href="PlacementServices.html">Placement Services</a></li>
                  <li><a href="RequestInformation.html">Request Information</a></li>
          
          <li><a href="#">Colleges</a></li>
          <li><a href="#">Test Prep</a></li>
          <li class="divider">Tours</li>
          <li><a href="#">Summer Programs</a></li>
          <li><a href="#">Camp</a></li>
          <li class="dropdown-header">Request Information</li>
          <ul>
            <li><a href="RequestInformation.html">English</a>
            <li><a href="cRequestInformation.html">Chinese</a>
          </ul>
          <li><a href="cindex.html">International Counseling</a></li>
          
        </ul>
      </li>

      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Testimonials<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="Testimonials.html">Schools</a></li>
          <li><a href="AboutUs.html">College</a></li>
        </ul>
      </li>

       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">F.A.Q.<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="AboutUs.html">Schools</a></li>
          <li><a href="AboutUs.html">Colleges</a></li>
          <li><a href="AboutUs.html">Tours</a></li>
          <li><a href="AboutUs.html">Guardian Services</a></li>
        </ul>
      </li>
      <li><a href="ContactUs.html">Contact</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="blogpost.html">Blog & Social Media Post</a></li>
          <li><a href="SecretStuff.html">Secret Stuff</a>
          <li><a href="Gameplan.html">Game Plan</a></li>
        </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</div> <!-- container -->