{% extends "baseContent.html" %}
{% import "_macros.html" as macros %}
{% block title %}Testimonials{% endblock %}{% block page_content %}

    <div class="container"> 
     
      <div class="row">
          <div class="col-md-7 col-md-offset-1 para1">
				 <h2 class="hdr">Boarding School Placement // Case Histories</h2>


				<p><strong>These case histories are representative summaries of the work EducationFirst! has done for families and students. Student names and schools have been changed to protect privacy.</strong></p>

				<a href="#Annie">Annie</a>&nbsp;|&nbsp;
				<a href="#Rob">Rob</a>&nbsp;|&nbsp;
				<a href="#Jimmy">Jimmy</a>&nbsp;|&nbsp;
				<a href="#Judy">Judy</a>&nbsp;|&nbsp;
				<a href="#John">John</a>&nbsp;|&nbsp;
				<a href="#KC">K. C.</a>&nbsp;|&nbsp;
				<a href="#Jenny">Jenny</a>
				<br clear="all"> <br clear="all" />

				<em><a name="Annie">Annie - A Day School or a Boarding School</a></em><br />

				<p>Annie came from an affluent family and attended private school. She had always done well in the classroom, played the clarinet in the school band, played soccer, ice hockey and lacrosse, was on travel teams in all three sports, was a talented skier and volunteered at the local soup kitchen. She was a talented 13 year old who wanted to go to a boarding school. Her parents wanted her to continue at the local day school. Tension was developing between Annie and her parents.</p>

				<p>EducationFirst! (EF) worked with Annie to clearly define her interests, evaluate her athletic ability and provide her with SSAT support. EF helped Annie and her parents develop a list of programs and facilities that she wanted in her new school, and arranged for Annie and her parents to make informal visits to a number of schools in the summer before her 8th grade. EF discussed these visits with Annie and her parents and answered many questions. By September, Annie and her parents agreed that she should apply to a number of boarding schools. EF worked with Annie during the next four months and she is now a student at St. Paul's School.</p>

				<em><a name="Rob">Rob - Not Following the Family Tradition</a></em>

				<p>Rob is a bright and attractive fourteen year old who is a good actor, plays the drums and loves to draw. He has all As and is an excellent lacrosse player. He is the youngest of five children and his siblings all went to the Middlesex School. Rob wanted to branch out and attend a different school where he could play a varsity sport and also be in the school band. He wanted his own space and he wanted to be his own man. This decision was not well received by his parents.
				</p>
				<p>EducationFirst! (EF) helped Rob find schools where he could be challenged in the classroom, play varsity lacrosse, and continue playing the drums during the same season. He visited these schools, worked hard on his applications, prepared for the SSAT tests, and was accepted at his four top choices. He is now at Deerfield Academy playing lacrosse and playing the drums.</p>

				<em><a name="Jimmy">Jimmy - A Talented Hockey Player</a></em>
				<p>Jimmy started skating when he was three years old. He was now fifteen and played hockey nearly 12 months a year. Hockey was his life. His dream was to play professional hockey. Jimmy was a star defenseman as a freshman on his high school team and wanted to change schools to be on a more competitive team. While Jimmy was a star on the ice, he performed at the B and C level in the classroom and had no extra curricular activities other than hockey.</p>

				<p>EducationFirst! (EF) evaluated Jimmy's athletic ability and hockey skills and concluded that he had exceptional talent and potential on the ice. EF arranged for SSAT tutoring and introduced Jimmy and his parents to four schools that were a good fit for Jimmy's abilities in the classroom and on the ice. Jimmy decided to repeat his freshman year and attend Avon Old Farms School. Five years later Jimmy is now a starting defenseman at a division one university.</p>

				<em><a name="Judy">Judy - An Unknown Learning Difference</a></em>

				<p>Judy was a 17 year old junior in public high school who had Bs and Cs in the classroom and low PSAT scores. She spent most of her time riding horses and wanted to be on a college equestrian team.. Her classroom work was not her first priority.</p>

				<p>EducationFirst! (EF) reviewed her school transcript, PSAT scores and writing samples and recommended a full battery of educational tests. The results revealed very weak phonetic and reading skills and other non-verbal processing issues.</p>

				<p>EF referred Judy to an Orton-Gillingham tutor for a comprehensive tutoring program to help her develop the coping skills to overcome her learning differences. She continued her tutoring during the summer. EF helped Judy identify schools which were appropriate for her and also had a strong riding program. In the fall, she entered The Ethel Walker School to repeat her junior year. Her new school provided small classes and an academic support and learning skills program so she could continue her tutoring program. By the end of her second junior year, she was receiving As and Bs in the classroom and had increased her SAT scores by 150 points. She was making great strides to overcome her learning differences and was still spending a lot of time riding horses.</p>

				<em><a name="John">John - Moving to a New City</a></em>

				<p>John was 15 years old and his parents had recently moved to Boston. Both his mother and father worked and his mother's new job required that she travel three days a week. His parents had gone to public schools and were not familiar with boarding schools. They clearly needed their son to attend a boarding school.</p>

				<p>EducationFirst! (EF) met with John and his parents and soon learned that he loved to draw, paint and do woodworking. He had taken Latin and wanted to continue with Latin and possibly take Greek. Using these areas of interest as a focus, EF recommended a number of schools that met these criteria. EF also helped John find an SSAT tutor who would tutor John at John's home on Saturday mornings. John is attending Groton School where he has done well in the classroom and has made some wonderful furniture.</p>

				<em><a item="KC">K. C. Kim - Applying from Seoul, Korea</a></em>

				<p>K.C. Kim attended Seoul International School in Seoul, Korea and wanted to attend boarding school in the United States. While his parents attended graduate school in the United States, they knew about boarding schools only through conversations with friends in Korea. They wanted advice from an American independent consultant.</p>
				<p>EducationFrist! (EF) met with K.C. and his parents in New York City and arranged for independent testing to be done. After reviewing the test results, EF recommended that they visit eight boarding schools in New England. During their next trip to Boston, EF arranged for a car and driver to take K.C. and his parents on the school visits, and met with them at the end of the trip. EF recommended SSAT and TOEFL tutoring in Seoul and suggested that K.C. apply to four schools. EF worked closely with K.C. and his parents during the admissions process. K.C. is now attending St. Mark's School.</p>

				<em><a href="Jenny">Jenny Chen - Applying from Shanghai, China</a></em>

				<p>Jenny Chen's parents contacted EducationFirst! (EF) by email and EF arranged to meet with Jenny and her parents on their arrival in Boston in September. After reviewing Jenny's academic and testing records, her athletic and extracurricular activities and her teacher comments, EF scheduled visits to ten boarding schools in October. EF arranged for a car and driver to meet the Chens at the airport and to accompanied them on their visit. EF prepared Jenny and her parents for each visit and after discussions at the end of the trip, recommended that Jenny do extra work preparing for the SSAT and the TOEFL exams. EF worked closely with Jenny on her applications to five schools. She is now attending Phillips Exeter Academy.</p>
          </div> <!-- col-md-7 -->
          <div class="col-md-3 col-md-offset-1">
            <div id="selects" >
                <!-- this is where the font and size boxes will go -->
            </div>  <!-- selects -->
            <div id="tweety">
                <a class="twitter-timeline"  href="https://twitter.com/zennioptical"  data-widget-id="447870491118673920">Tweets by @zennioptical</a>
            </div> <!-- tweety  -->
          </div> <!-- col-md3 -->
      </div>  <!-- row -->

    </div> <!-- /container -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
 



{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
{% endblock %}